body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    position: absolute; 
    background-repeat: no-repeat;
    overflow:visible;
    background-attachment: fixed;
}


#contenedor {
    width: 1200px;
    height: 1300px;
    background-color: #909410;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 1200px;
    height: 200px;
    background-color: #326875;
    margin-left: auto;
    margin-right: auto;
}

#contenido {
    width: 1200;
    height: 1280;
    background-color: #326875;
    float: left;
    background:-webkit-gradient(linear, 44% 16%, 22% 28%, from(#0A5767), to(#866B08))
}

#contenido h1 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow:11px 1px 19px #ffffff;

}

ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    font-family: fantasy;
    font-size: small;
    border-radius: 30px;

}

ul.menu li a {
    width: 100px;
    height: 50px;
    background-color:#909410;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    box-shadow: 13px 15px 11px #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul.menu li a:hover {
    width: 150px;
    height: 70px;
    background-color: #e5ff00;
    text-shadow:5px 5px 5px #000000;
}

.submenu {
    position: absolute;
    background-color: #329ba8;
    width: 120%;
    display: none;
}

.submenu li {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li :hover .submenu {
    display: block;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;    
    font-size: x-large;
    text-align: center;
    text-shadow:11px 1px 19px #ffffff;
    text-decoration: none;
}
h2 {
    font-family: 'Concert One', cursive;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;    
    font-size: 40px;
    text-align: center;
    
}

p {
    font-family: 'Josefin Sans', sans-serif;    font-size: x-large;
}

table {
    font-family: 'Josefin Sans', sans-serif;    font-size: x-large;
}

#barra1 {
    width: 1200px;
    height: 15px;
    background-color: #000000;
}
#barra2 {
    width: 1200px;
    height: 15px;
    background-color: #000000;
}
#barrainvocador1 {
    width: 1200px;
    height: 20px;
    background-color: #329ba8;
}
#barrainvocador2 {
    width: 1200px;
    height: 20px;
    background-color: #329ba8;
}

#otrabarra {
    width: 1200px;
    height: 15px;
    background-color: #000000;
}
#barratabla {
    width: 1200px;
    height: 15px;
    background-color: #000000;
}
#footer {
    width: 1200px;
    height: 100px;
    background-color: #000;
}

#contrato {
    text-align: center;
    font-size: 70px;
    background-color: ivory;
}

#cajaelos {
    width: 1200px;
    height: 200px;
    background-color: #326875;
}

#bienvenida {
    width: 1200px;
    height: 100px;
    background-color:  #e5ff00;;
    margin: auto;
    padding: auto;
    
}

#cliente {
    text-align: center;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

iframe {
padding-top: 10px;
width: 80%;
margin: auto;
display: block;

}

#cliente {
    background-color: #fff;

}

@media handheld, screen and (min-width: 600px) and (max-width: 1023px) {

        
    #contenedor {
        width: 580px;
        height: auto;
    }
    
    #logo {
        width: 580px;
        height: 200px;
    }

    #logolol {
        width: 380px;
        height: auto;
    }

    ul.menu li a:hover {
        width: 130px;
        height: auto;
    }
    
    #contenido {
        width: 580px;
        height: auto;
    }


    #contenido h1 {
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow:11px 1px 19px #ffffff;
    
    }
    
    h1 {
        font-family: 'Josefin Sans', sans-serif;    font-size: x-large;
        text-align: center;
        text-shadow:11px 1px 19px #ffffff;
        text-decoration: none;
    }
    h2 {
        font-family: 'Concert One', cursive;
    }
    
    h3 {
        font-family: 'Josefin Sans', sans-serif;    
        font-size: 40px;
        text-align: center;
        
    }

    p {
        font-family: 'Josefin Sans', sans-serif;    font-size: x-large;
    }
    
    table {
        font-family: 'Josefin Sans', sans-serif;    font-size: x-large;
    }
    
    #barra1 {
        width: 580px;
        height: auto;
        background-color: #000000;
    }
    #barra2 {
        width: 580px;
        height: auto;
        background-color: #000000;
    }
    #barrainvocador1 {
        width: 580px;
        height: auto;
        background-color: #329ba8;
    }
    #barrainvocador2 {
        width: 580px;
        height: auto;
        background-color: #329ba8;
    }
    
    #otrabarra {
        width: 580px;
        height: auto;
        background-color: #000000;
    }
    #barratabla {
        width: 580px;
        height: auto;
        background-color: #000000;
    }
    #footer {
        width: 580px;
        height: auto;
        background-color: #000;
    }
    
    #contrato {
        text-align: center;
        font-size: 50px;
        background-color: ivory;
    }
    
    #cajaelos {
        width: 580px;
        height: auto;
        background-color: #326875;
    }
    
    #bienvenida {
        width: 580px;
        height: 40px;
        background-color:  #e5ff00;;
        margin: auto;
        padding: auto;
        
    }
    
    #cliente {
        text-align: center;
        font-size: 50px;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    
}

@media handheld, screen and (max-width: 599px) {
    #contenedor {
        width: 90%;
        height: auto;
        margin: auto;
        padding: auto;
    }
    
    header {
        width: 100%;
        height: auto;
    }

    #logo {
        width: 100%;
        height: auto;
    }

    #logolol {
      width: 90%;
 
    }

    #llegamos {
        font-size: 9px;
        text-align: left; 
        margin: auto;
    }

    #allelos1 {
        width: 100%;
        height: auto;
    }

    #allelos2 {
        width: 100%;
        height: auto;
    }

    nav {
        margin: auto;
        padding: auto;
        float: left;
    }
    
    nav ul li {
        display: inline-block;
        margin: auto;
        padding: auto;
        float: left;
    }

    ul.menu li a {
        display: inline-block;
        margin: auto;
        padding: auto;
        float: left;
    }
    
    ul.menu li a:hover {
        display: inline-block;
        margin: auto;
        padding: auto;
        float: left;
        width: 100px;
        height: 50px;
    }

    table {
        font-size: 15px;
    }

    #bienvenida {
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 40px;
    }

    h3 {
        font-family: 'Josefin Sans', sans-serif;    
        font-size: 40px;
        text-align: center;    
    }

    #contenido {
        width: 100%;;
        height: auto;
    }
    
    img {
        width: 90px;
        height: auto;
        ;
    }
    
    
    #cliente {
    text-align: center;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
   }

    #barra1 {
        width: 90%;
        height: auto;

    }
    #barra2 {
        width: 90%;
        height: auto;
        background-color: #000000;
    }
    #barrainvocador1 {
        width: 90%;
        height: auto;
        background-color: #329ba8;
    }
    #barrainvocador2 {
        width: 90%;
        height: auto;
        background-color: #329ba8;
    }
    
    #otrabarra {
        width: 90%;
        height: auto;
        background-color: #000000;
    }
    #barratabla {
        width: 90%;
        height: auto;
        background-color: #000000;
    }
    #footer {
        width: 100%;
        height: auto;
        background-color: #000;

    }
    
    #contrato {
        text-align: center;
        font-size: 30px;
        margin-bottom: auto;

    }
    
    #cajaelos {
        width: 90%;
        height: auto;
        background-color: #326875;
    }
    
    #bienvenida {
        width: 90%;
        height: auto;
        
    }
    
    #cliente {
        text-align: center;
        font-size: 50px;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    #contrato {
        width: 100%;
        height: auto;
    }


}